In [1]:
import pandas as pd
df = pd.read_csv("carprice.csv")
df

    Mileage  Age  Price
0     69000    6  18000
1     35000    3  34000
2     57000    5  26100
3     22500    2  40000
4     46000    4  31500
5     59000    5  26750
6     52000    5  32000
7     72000    6  19300
8     91000    8  12000
9     67000    6  22000
10    83000    7  18700
11    79000    7  19500
12    59000    5  26000
13    58780    4  27500
14    82450    7  19400
15    25400    3  35000
16    28000    2  35500
17    69000    5  19700
18    87600    8  12800
19    52000    5  28200

In [2]:
X = df[['Mileage','Age']]
y = df['Price']

In [3]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [4]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(clf,X,y,cv=3)
scores

array([0.82054878, 0.87887133, 0.90467673])

In [5]:
print(scores.mean())

0.868032281158753

In [6]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [7]:
ridge=Ridge()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100,1000]}
gs=GridSearchCV(ridge,parameters,cv=3)
gs.fit(X,y)

GridSearchCV(cv=3, estimator=Ridge(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   20, 30, 35, 40, 45, 50, 55, 100, 1000]})

In [8]:
#print(gs.best_params_)
print(gs.best_score_)
print(gs.best_estimator_)

0.8779630132747659
Ridge(alpha=1000)

In [9]:
scores=gs.cv_results_
scores

{'mean_fit_time': array([0.00883452, 0.00345556, 0.00621303, 0.00257579, 0.00320872,
        0.00225695, 0.00410501, 0.00498923, 0.00466625, 0.00381001,
        0.00255966, 0.0021584 , 0.00402474, 0.00222588, 0.00263254,
        0.00333579, 0.00432396]),
 'std_fit_time': array([6.18072730e-03, 9.01717733e-04, 2.03190049e-03, 4.40118473e-04,
        7.64763716e-04, 2.51913597e-04, 1.63350470e-03, 2.86747830e-03,
        2.45598798e-03, 1.70076691e-03, 7.04596971e-04, 2.23969691e-05,
        1.05610351e-03, 5.48506835e-04, 6.76282199e-04, 1.64414626e-03,
        5.65645956e-04]),
 'mean_score_time': array([0.00239658, 0.00176438, 0.00313822, 0.00145642, 0.00486755,
        0.00138871, 0.00326451, 0.00207933, 0.00296919, 0.00240103,
        0.00272234, 0.0013353 , 0.00183121, 0.00150673, 0.00128651,
        0.00533422, 0.00264327]),
 'std_score_time': array([0.00021617, 0.00034387, 0.00216613, 0.00030614, 0.00270434,
        0.00024783, 0.00194989, 0.00048699, 0.00042963, 0.00152929,
        0.00148782, 0.00019514, 0.00050877, 0.0003454 , 0.00025156,
        0.00600065, 0.0012461 ]),
 'param_alpha': masked_array(data=[1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10, 20, 30, 35,
                    40, 45, 50, 55, 100, 1000],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1e-15},
  {'alpha': 1e-10},
  {'alpha': 1e-08},
  {'alpha': 0.001},
  {'alpha': 0.01},
  {'alpha': 1},
  {'alpha': 5},
  {'alpha': 10},
  {'alpha': 20},
  {'alpha': 30},
  {'alpha': 35},
  {'alpha': 40},
  {'alpha': 45},
  {'alpha': 50},
  {'alpha': 55},
  {'alpha': 100},
  {'alpha': 1000}],
 'split0_test_score': array([0.82054878, 0.82054878, 0.82054878, 0.82055328, 0.82059369,
        0.82400363, 0.82948446, 0.83169165, 0.83326044, 0.83388603,
        0.8340762 , 0.83422242, 0.83433833, 0.83443249, 0.83451048,
        0.83487253, 0.83529291]),
 'split1_test_score': array([0.87887133, 0.87887133, 0.87887133, 0.87887904, 0.87894809,
        0.88413538, 0.89043584, 0.89246009, 0.89376014, 0.89424985,
        0.89439566, 0.89450682, 0.89459437, 0.89466511, 0.89472346,
        0.89499135, 0.89529656]),
 'split2_test_score': array([0.90467673, 0.90467673, 0.90467673, 0.90467601, 0.90466952,
        0.9041982 , 0.90367203, 0.90351355, 0.90341431, 0.90337743,
        0.9033665 , 0.90335818, 0.90335164, 0.90334636, 0.90334201,
        0.90332209, 0.90329957]),
 'mean_test_score': array([0.86803228, 0.86803228, 0.86803228, 0.86803611, 0.86807043,
        0.87077907, 0.87453077, 0.87588843, 0.87681163, 0.8771711 ,
        0.87727945, 0.87736247, 0.87742812, 0.87748132, 0.87752532,
        0.87772865, 0.87796301]),
 'std_test_score': array([0.03518988, 0.03518988, 0.03518988, 0.0351884 , 0.03517508,
        0.03407429, 0.03230766, 0.03157595, 0.03104653, 0.03083317,
        0.03076805, 0.03071791, 0.03067811, 0.03064574, 0.03061891,
        0.03049411, 0.0303487 ]),
 'rank_test_score': array([17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])}

In [10]:
import numpy as np
np.mean(scores['mean_test_score'])

0.874008984830767