<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

# Practice Project: GDP Data extraction and processing

Estimated time needed: **30** minutes

## Introduction

In this practice project, you will put the skills acquired through the course to use. You will extract data from a website using webscraping and reqeust APIs process it using Pandas and Numpy libraries.

## Project Scenario:

An international firm that is looking to expand its business in different countries across the world has recruited you. You have been hired as a junior Data Engineer and are tasked with creating a script that can extract the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD (rounded to 2 decimal places), as logged by the International Monetary Fund (IMF). 

The required data seems to be available on the URL mentioned below:

URL: https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29

## Objectives

After completing this lab you will be able to:

 - Use Webscraping to extract required information from a website.
 - Use Pandas to load and process the tabular data as a dataframe.
 - Use Numpy to manipulate the information contatined in the dataframe.
 - Load the updated dataframe to CSV file.

---

## Dislcaimer

If you are using a downloaded version of this notebook on your local machine, you may encounter a warning message as shown in the screenshot below.

<p style="text-align:center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/mod_5/practice_project_disclaimer.png" width="700" alt="warning message">
</p>


This does not affect the execution of your codes in any way and can be simply ignored.

# Setup

For this lab, we will be using the following libraries:

*   [`pandas`](https://pandas.pydata.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for managing the data.
*   [`numpy`](https://numpy.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for mathematical operations.

In [1]:
#Install required packages
!pip install pandas numpy 
!pip install lxml

Requirement already satisfied: pandas in c:\users\gebre\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\gebre\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gebre\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\gebre\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gebre\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\gebre\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.2
[notice] To update, run: C:\Users\gebre\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Collecting lxml
  Downloading lxml-5.3.0-cp310-cp310-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-5.3.0-cp310-cp310-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.2/3.8 MB 4.6 MB/s eta 0:00:01
   --------- ------------------------------ 0.9/3.8 MB 9.6 MB/s eta 0:00:01
   --------------- ------------------------ 1.5/3.8 MB 10.6 MB/s eta 0:00:01
   ---------------------- ----------------- 2.1/3.8 MB 12.2 MB/s eta 0:00:01
   ------------------------------- -------- 2.9/3.8 MB 13.4 MB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 13.3 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 13.5 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 10.5 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0

[notice] A new release of pip is available: 23.3.1 -> 24.2
[notice] To update, run: C:\Users\gebre\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

### Importing Required Libraries

_We recommend you import all required libraries in one place (here):_

In [2]:
import numpy as np
import pandas as pd

# You can also use this section to suppress warnings generated by your code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

---

# Exercises

### Exercise 1
Extract the required GDP data from the given URL using Web Scraping.

In [3]:
import requests
from bs4 import BeautifulSoup

In [40]:
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

# Send a GET request to the URL
response = requests.get(URL)

# Check if the request was successful
if response.status_code == 200:
    
    # Parse the content of the page
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the table containing the GDP data
    tables = soup.find_all('table', class_='wikitable')
    
    # Initialize a list to hold the GDP data
    gdp_data = []
    
    # Loop through the tables and extract data
    for table in tables:
        # Get the header row
        headers = [header.text.strip() for header in table.find_all('th')]
        
        # Get the rows of the table
        for row in table.find_all('tr')[3:]:  # Skip the header row
            columns = row.find_all('td')
            if columns:
                # Extract relevant data (Country and GDP)
                country = columns[0].text.strip()
                gdp = columns[2].text.strip()
                gdp_data.append([country, gdp])
    
    # Create a DataFrame from the extracted data
    gdp_df = pd.DataFrame(gdp_data, columns=['Country', 'GDP (Nominal)'])
    
    # Display the DataFrame
    print(gdp_df)
    
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

           Country GDP (Nominal)
0    United States    26,854,599
1            China    19,373,586
2            Japan     4,409,738
3          Germany     4,308,854
4            India     3,736,882
..             ...           ...
208       Anguilla             —
209       Kiribati           248
210          Nauru           151
211     Montserrat             —
212         Tuvalu            65

[213 rows x 2 columns]

You can use Pandas library to extract the required table directly as a DataFrame. Note that the required table is the third one on the website, as shown in the image below.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/images/pandas_wbs_3.png">

In [41]:
df=pd.DataFrame(gdp_df)
df

           Country GDP (Nominal)
0    United States    26,854,599
1            China    19,373,586
2            Japan     4,409,738
3          Germany     4,308,854
4            India     3,736,882
..             ...           ...
208       Anguilla             —
209       Kiribati           248
210          Nauru           151
211     Montserrat             —
212         Tuvalu            65

[213 rows x 2 columns]

In [42]:
df.iloc[0:10]

          Country GDP (Nominal)
0   United States    26,854,599
1           China    19,373,586
2           Japan     4,409,738
3         Germany     4,308,854
4           India     3,736,882
5  United Kingdom     3,158,938
6          France     2,923,489
7           Italy     2,169,745
8          Canada     2,089,672
9          Brazil     2,081,235

In [43]:
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
df=pd.DataFrame(gdp_df)

# Replace the column headers with column numbers
df.columns = range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df.iloc[[0,2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df.iloc[0:10]

# Assign column names as "Country" and "GDP (Million USD)"
df.rename(columns={0:'Country',1:'GDP(Million USD)'})

           Country GDP(Million USD)
0    United States       26,854,599
1            China       19,373,586
2            Japan        4,409,738
3          Germany        4,308,854
4            India        3,736,882
..             ...              ...
208       Anguilla                —
209       Kiribati              248
210          Nauru              151
211     Montserrat                —
212         Tuvalu               65

[213 rows x 2 columns]

<details>
    <summary>Click here for Solution</summary>

```python
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables = pd.read_html(URL)
df = tables[3]

# Replace the column headers with column numbers
df.columns = range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]

# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country','GDP (Million USD)']
```

</details>

### Exercise 2
Modify the GDP column of the DataFrame, converting the value available in Million USD to Billion USD. Use the `round()` method of Numpy library to round the value to 2 decimal places. Modify the header of the DataFrame to `GDP (Billion USD)`.

In [ ]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP(Million USD)'] = df['GDP(Million USD)'].astype(int)

# Convert the GDP value in Million USD to Billion USD
df[['GDP(Million USD)']] = df[['GDP(Million USD)']]/1000

# Use numpy.round() method to round the value to 2 decimal places.
df[['GDP(Million USD)']] = np.round(df[['GDP(Million USD)']], 2)

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {'GDP(Million USD)' : 'GDP(Billion USD)'})

<details>
    <summary>Click here for solution</summary>
    
```python
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

# Convert the GDP value in Million USD to Billion USD
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

# Use numpy.round() method to round the value to 2 decimal places.
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

```
</details>

### Exercise 3

Load the DataFrame to the CSV file named "Largest_economies.csv"

In [48]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv("Largest_economies.csv")

<details>
    <summary>Click here for Solution</summary>

```python
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv('./Largest_economies.csv')
```

</details>

---

# Congratulations! You have completed the lab.

## Authors

[Abhishek Gagneja](https://www.linkedin.com/in/abhishek-gagneja-23051987/)

## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-11-10|0.1|Abhishek Gagneja|Created initial version|

Copyright © 2023 IBM Corporation. All rights reserved.